<footer
  class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}"
>
  <p>
    For any comments or thoughts, please reach me on twitter
    <a href="https://twitter.com/sklzr">@sklzr</a> ✌️
  </p>
  {% if site.ga_analytics %}
  <p>
    <small>
      This blog uses Google Analytics with IP anonymization, only to mesure
      traffic.
    </small>
  </p>
  {% endif %} {% if site.gc_analytics %}
  <p>
    <small>
      This blog uses basic analytics through GoatCounter, which does not track
      any personal data. You can check web analytics by following
      <a href="https://{{ site.gc_analytics }}.goatcounter.com/">this link</a>.
    </small>
  </p>
  {% endif %}
</footer>
